*
*/
!*/

# Installer for setup
!/setup/**/*
/setup/**/.DS_Store

# git
!.gitignore
!README.md

# git config
!.config/git/ignore

# Editor
!.editorconfig
!.prettierrc
!.prettierignore

# Setup files
!install
!install.ps1

# PowerShell
!.config/Microsoft.PowerShell_profile.ps1

# bash
!.bashrc

# zsh
!.zshrc
!.zprofile
!.p10k.zsh

# fish
!.config/fish/config.fish
!.config/fish/config-darwin.fish
!.config/fish/config-linux.fish
!.config/fish/f.fish
!.config/fish/fisher-install.fish

# tmux
!.tmux.conf
!.tmux.conf.darwin
!.tmux.powerline.conf

# Starship
!.config/starship.toml

# Vim
!.config/vim/init.vim
!.config/vim/plug.vim
!.config/vim/after/plugin/*
!.config/vim/coc-settings.json
.config/vim/plugged

# Neovim
!.config/nvim/init.lua
!.config/nvim/lua/*
!.config/nvim/after/plugin/*
!.config/nvim/colors/*
!.config/nvim/coc-settings.json
.config/nvim/plugged

# Helix
!.config/helix/config.toml

# Kakoune
!.config/kak/kakrc

# Hyper
!.hyper.js

# npm
!.npmrc

# yarn
!.yarnrc
