*
*/
!*/

# Installer for setup
!/setup/**/*
/setup/**/.DS_Store

# git
!.gitignore
!README.md

# Editor
!.editorconfig
!.prettierrc
!.prettierignore

# Setup files
!install
!install.ps1

# PowerShell
!.config/Microsoft.PowerShell_profile.ps1

# zsh
!.zshrc
!.zprofile
!.p10k.zsh

# fish
!.config/fish/config.fish
!.config/fish/config-darwin.fish
!.config/fish/config-linux.fish
!.config/fish/functions/b64.fish

# tmux
!.tmux.conf
!.tmux.conf.darwin
!.tmux.powerline.conf

# Starship
!.config/starship.toml

# Neovim
!.config/nvim/colors/*
!.config/nvim/coc-settings.json
!.config/nvim/init.vim
!.config/nvim/plug.vim
!.config/nvim/after/plugin/*
.config/nvim/plugged

# Helix
!.config/helix/config.toml

# Kakoune
!.config/kak/kakrc

# Hyper
!.hyper.js

# npm
!.npmrc

# yarn
!.yarnrc
