*
*/
!*/

# git
!.gitignore
!README.md

# git config
!.config/git/config
!.config/git/ignore

# Editor
!.editorconfig
!.prettierrc
!.prettierignore

# Setup files
!install
!install.ps1

# bin
!bin/*

# PowerShell
!.config/powershell/windows.ps1
!.config/powershell/linux.ps1

# bash
!.bashrc

# zsh
!.zshrc
!.zprofile
!.p10k.zsh

# fish
!.config/fish/config.fish
!.config/fish/config-darwin.fish
!.config/fish/config-linux.fish
!.config/fish/f.fish
!.config/fish/fish_plugins

# tmux
!.tmux.conf
!.tmux.conf.darwin
!.tmux.powerline.conf

# Starship
!.config/starship.toml

# Emacs
!.emacs.d/init.el
!.emacs.d/custom.el
!.spacemacs.d/init.el

# Vim
!.vimrc

# Neovim
!.config/nvim/init.lua
!.config/nvim/lua/*
!.config/nvim/after/plugin/*
!.config/nvim/colors/*
!.config/nvim/coc-settings.json
.config/nvim/plugged

# Helix
!.config/helix/config.toml

# Kakoune
!.config/kak/kakrc

# Hyper
!.hyper.js

# npm
!.npmrc

# yarn
!.yarnrc
