<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>phrase</key>
            <string>©︎</string>
            <key>shortcut</key>
            <string>(c)</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>®︎</string>
            <key>shortcut</key>
            <string>(r)</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>#melody_flag</string>
            <key>shortcut</key>
            <string>#mf</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>暁山</string>
            <key>shortcut</key>
            <string>あきやま</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>AZKi</string>
            <key>shortcut</key>
            <string>あずき</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>一歌</string>
            <key>shortcut</key>
            <string>いちか</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>伊那尓栖</string>
            <key>shortcut</key>
            <string>いなにす</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>兎田</string>
            <key>shortcut</key>
            <string>うさだ</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>潤羽</string>
            <key>shortcut</key>
            <string>うるは</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>絵名</string>
            <key>shortcut</key>
            <string>えな</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>⌥</string>
            <key>shortcut</key>
            <string>おぷしょん</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>改頁</string>
            <key>shortcut</key>
            <string>かいぺーじ</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>風真</string>
            <key>shortcut</key>
            <string>かざま</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>神代</string>
            <key>shortcut</key>
            <string>かみしろ</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>クロヱ</string>
            <key>shortcut</key>
            <string>くろえ</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>賢斗</string>
            <key>shortcut</key>
            <string>けんと</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>合庁</string>
            <key>shortcut</key>
            <string>ごうちょう</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>沙花叉</string>
            <key>shortcut</key>
            <string>さかまた</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>佐命</string>
            <key>shortcut</key>
            <string>さな</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>地ノ森</string>
            <key>shortcut</key>
            <string>じのもり</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>⇧</string>
            <key>shortcut</key>
            <string>しふと</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>シラケン</string>
            <key>shortcut</key>
            <string>しらけん</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>白澤</string>
            <key>shortcut</key>
            <string>しらさわ</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>鷹嶺</string>
            <key>shortcut</key>
            <string>たかね</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>立根</string>
            <key>shortcut</key>
            <string>たっこん</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>角巻</string>
            <key>shortcut</key>
            <string>つのまき</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>冬弥</string>
            <key>shortcut</key>
            <string>とうや</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>特者生存</string>
            <key>shortcut</key>
            <string>とくしゃせいぞん</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>兎鞠</string>
            <key>shortcut</key>
            <string>とまり</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>百鬼</string>
            <key>shortcut</key>
            <string>なきり</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>七詩</string>
            <key>shortcut</key>
            <string>ななし</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>虹ヶ咲</string>
            <key>shortcut</key>
            <string>にじがさき</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>一</string>
            <key>shortcut</key>
            <string>にのまえ</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>Novalumo</string>
            <key>shortcut</key>
            <string>のばるーも</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>博衣</string>
            <key>shortcut</key>
            <string>はくい</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>壱百満天原</string>
            <key>shortcut</key>
            <string>ひゃくまんてんばら</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>不成就日</string>
            <key>shortcut</key>
            <string>ふじょうじゅび</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>宝鐘</string>
            <key>shortcut</key>
            <string>ほうしょう</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>袰下</string>
            <key>shortcut</key>
            <string>ほろし</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>巳の日</string>
            <key>shortcut</key>
            <string>みのひ</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>紫咲</string>
            <key>shortcut</key>
            <string>むらさき</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>社築</string>
            <key>shortcut</key>
            <string>やしろきずく</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>山馬越</string>
            <key>shortcut</key>
            <string>やままごえ</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>癒月</string>
            <key>shortcut</key>
            <string>ゆづき</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>YOASOBI</string>
            <key>shortcut</key>
            <string>よあそび</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>宵崎</string>
            <key>shortcut</key>
            <string>よいさき</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>Lumo</string>
            <key>shortcut</key>
            <string>るーも</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>四月一日</string>
            <key>shortcut</key>
            <string>わたぬき</string>
        </dict>
    </array>
</plist>
