name: CI
on:
  push:
    branches:
      - main
      - ci/*
  pull_request:
    branches:
      - main
jobs:
  check:
    name: Nix Flake Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: DeterminateSystems/determinate-nix-action@89ab342bd48ff7318caf8d39d6a330c7b1df8f2f # v3.15.2
      - name: Run nix flake check
        run: nix flake check --no-build --impure
